@model IEnumerable<LittleAgenda.Entity.Address>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contact.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressId })
        </td>
    </tr>
}

</table>
