@model LittleAgenda.Entity.Telephone

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Telephone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TelephoneId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
