@model IEnumerable<LittleAgenda.Entity.Telephone>

@{
    ViewBag.Title = "Index";
    Layout = "";
}

<h4>Telephones</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
		<th></th>
        <th>
            @Html.DisplayNameFor(model => model.Contact.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactType)
        </th>        
    </tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.ActionLink(" ", "Edit", new { id = item.TelephoneId }, new { @class = "btn btn-warning btn-large fa fa-pencil", title = "Edit" })
			@Html.ActionLink(" ", "Details", new { id = item.TelephoneId }, new { @class = "btn btn-primary btn-large fa fa-list-alt", title = "Details" })
			@Html.ActionLink(" ", "Delete", new { id = item.TelephoneId }, new { @class = "btn btn-large btn-danger fa fa-trash", title = "Delete" })
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Contact.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.TelephoneContent)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.ContactType)
		</td>
	</tr>
}

</table>
