@model LittleAgenda.Entity.Contact

@{
	Layout = "";
}
<h3>Are you sure?</h3>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Observation)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Observation)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.FavoriteTag)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.FavoriteTag)
		</dd>
	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default btn-danger" /> 			
		</div>
	}
</div>

@Html.Partial("_DefaultBack")
