@model IEnumerable<LittleAgenda.Entity.Email>

@if (Model.Count() > 0)
{
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Contact.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.EmailContent)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ContactType)
		</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Contact.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EmailContent)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ContactType)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.EmailId, contactId = item.ContactId }) |
				@Html.ActionLink("Details", "Details", new { id = item.EmailId, contactId = item.ContactId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.EmailId, contactId = item.ContactId })
			</td>
		</tr>

		@Html.Partial("EditEmail", item.ContactId)
		@Html.Partial("DeleteEmail", item.ContactId)
	}
</table>

}
else
{
	<p style="text-align:center;">
		No Emails found.
	</p>
}

